<!DOCTYPE html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ settings:site_name ?: {title} }}</title>
    {{ partial:partials/seo }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    {{ livewire:styles }}
</head>

<body class="flex flex-col min-h-screen font-inter" x-data="appData()" x-init="appInit()" @keydown.escape="reset">

    {{ partial:layout/navigation }}

    {{ template_content }}

    {{ partial:layout/footer }}

    {{ livewire:scripts }}
</body>
<script>
    const appData = () => {
        return {
            percent: 0,
            modalOpen: false,
            result: "",
            selectedResultIndex: "",
            toggleSearch() {
                this.modalOpen = !this.modalOpen
            },
            reset() {
                this.modalOpen = false;
            },
            selectNextResult() {
                if (this.selectedResultIndex === "") {
                    this.selectedResultIndex = 0;
                } else {
                    this.selectedResultIndex++;
                }
                if (this.selectedResultIndex === this.filteredResults.length) {
                    this.selectedResultIndex = 0;
                }
                this.focusSelectedResult();
            },
            selectPreviousResult() {
                if (this.selectedResultIndex === "") {
                    this.selectedResultIndex = this.filteredResults.length - 1;
                } else {
                    this.selectedResultIndex--;
                }
                if (this.selectedResultIndex < 0) {
                    this.selectedResultIndex = this.filteredResults.length - 1;
                }
                this.focusSelectedResult();
            },
            focusSelectedResult() {
                this.$refs.results.children[this.selectedResultIndex + 1].scrollIntoView({ block: 'nearest' })
            },
            appInit() {
                window.addEventListener('scroll', () => {
                    let winScroll = document.body.scrollTop || document.documentElement.scrollTop,
                        height = document.documentElement.scrollHeight - document.documentElement.clientHeight;

                    this.percent = Math.round((winScroll / height) * 100);
                });
            },
        };
    };
</script>

</html>
